*{padding:0; margin:0;box-sizing:border-box;font-family: sans-serif;}

.nav1{
    width: 100%;
    height: 50px;
    color: white;
    background: #222f3e;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}
.nav1 i{
    margin: 0px 5px ;
    
}
.nav1 a{
    text-decoration: none;
    color: white;
    padding:5px 10px;
    background: #e67e22;
    margin: 0px 10px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 1px 1px 1px 2px gold;
}

.image{
    margin-top: 200px;
 }
 
.nav2{
    width: 100%;
    height: 50px;
    background: rgba(27, 218, 81, 0.836);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
    box-shadow: 1px 1px 1px 2px gold;
}
.menu a{ 
text-decoration: none; 
color:black; 
padding: 10px 20px;                                          
    
}                                                            
header{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.7) 80%,#e7e4e2), url(school1.jpg);
    background-size: 100% 100%;
    }
.h-text{
    max-width: 600px;
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}    
.h-text h1{
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
    margin: 50px;
}
.h-text span{
    color:#e67e22;
    font-family: 'Dancing Script', cursive;
}
.h-text p{
    font-size: 20px;
    margin: 50px 0;
    line-height: 30px;
}
.h-text a{
    text-decoration: none;
    color: white;
    background: #e67e22;
    padding: 10px 20px;
    margin: 0px 15px;
    letter-spacing: 5px;
}
